<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>




<nav style="
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 3px 40px; 
    min-height: 75px;
    position: sticky; /* Se queda pegado arriba al bajar */
    top: 0;
    z-index: 1000;

">
    
    <div style="display: flex; align-items: center;">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/image/logo-smr-blanco.svg' | relative_url }}" 
                 alt="SMR" 
                 style="height: 73px; width: auto; display: block;">
        </a>
    </div>

    <div style="display: flex; align-items: center;">
        {%- for item in include.menu -%}
            {%- assign node = site.pages | where: "name", item.file | first -%}
            {%- assign url = item.url | default: node.url -%}
            {%- assign title = item.title | default: node.title -%}
            
            <a href="{{ url | relative_url }}" 
               class="nav-link"
               style="
                color: white; 
                margin-left: 25px; 
                text-decoration: none; 
                text-transform: uppercase; 
                font-size: 11px;
                font-weight: 600;
                display: flex;
                align-items: center;
                letter-spacing: 1.5px;
               ">
                {%- if item.icon -%}
                    <span uk-icon="icon: {{ item.icon }}; ratio: 0.8" style="margin-right: 8px;"></span>
                {%- endif -%}
                {{ title }}
            </a>
        {%- endfor -%}
    </div>

</nav>
