---
layout: default
---

<!-- Botón de acceso exclusivo para asesores -->
<div class="uk-text-center uk-margin-medium-top">
    <a href="#offcanvas-datos" uk-toggle class="uk-text-muted uk-text-small" style="text-decoration: underline; cursor: pointer;">
        <span uk-icon="icon: info; ratio: 0.8"></span> Ver ficha técnica (Exclusivo Asesores)
    </a>
</div>

<!-- Panel Offcanvas (Invisible hasta que se hace clic) -->
<div id="offcanvas-datos" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar uk-width-large">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        
        <h3 class="uk-text-uppercase uk-text-bold">Especificaciones</h3>
        <hr>
        
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <dl class="uk-description-list">
                    <dt><span uk-icon="icon: tag; ratio: 0.8" class="uk-margin-small-right"></span>Manga</dt>
                    <dd class="uk-margin-small-bottom">{{ page.manga }}</dd>
                    
                    <dt><span uk-icon="icon: grid; ratio: 0.8" class="uk-margin-small-right"></span>Cuello</dt>
                    <dd class="uk-margin-small-bottom">{{ page.cuello }}</dd>
                    
                    <dt><span uk-icon="icon: push; ratio: 0.8" class="uk-margin-small-right"></span>Puño</dt>
                    <dd class="uk-margin-small-bottom">{{ page.puno }}</dd>
                    
                    <dt><span uk-icon="icon: thumbnails; ratio: 0.8" class="uk-margin-small-right"></span>Bolsillo</dt>
                    <dd class="uk-margin-small-bottom">{{ page.bolsillo }}</dd>
                    
                    <dt><span uk-icon="icon: paint-bucket; ratio: 0.8" class="uk-margin-small-right"></span>Contraste</dt>
                    <dd class="uk-margin-small-bottom">{{ page.tela_contrast }}</dd>
                    
                    <dt><span uk-icon="icon: settings; ratio: 0.8" class="uk-margin-small-right"></span>Otros</dt>
                    <dd class="uk-margin-small-bottom">{{ page.otro_detalle }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<!-- Resto de tu página (Imagen y título) -->
<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
    <div class="uk-text-center">
        <h1 class="uk-text-bold uk-margin-small-top">{{ page.nombre_del_modelo1 }}</h1>
    </div>
    
    <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-1 uk-width-2-3@m uk-margin-auto" uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 500; repeat: false">
            <div class="uk-overflow-hidden uk-border-rounded">
                <img src="{{ page.imagen | relative_url }}" alt="{{ page.title }}" style="display: block; width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</div>
